* {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	border-bottom: 1px solid rgba(0, 73, 173, 0.2);
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 25px;
	font-size: 16px;
}

.nav-links a {
	text-decoration: none;
	color: #0049ad;
}
