* {
	margin: 0;
	padding: 0;
	font-family: "Segoe UI";
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	border-bottom: 1px solid rgba(0, 73, 173, 0.2);
}

.nav-links {
	display: flex;
	list-style: none;
	gap: 25px;
	font-size: 16px;
}

.nav-links a {
	text-decoration: none;
	color: #0049ad;
}

.news {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 50px;
	margin: 70px 5%;
	flex-wrap: wrap;
}

.news-card {
	width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	border-radius: 20px;
	box-shadow: 0px 0px 16px 4px rgba(168, 168, 168, 0.69);
	padding: 20px;
}

.description {
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: #0049ad;
}

.description p {
	font-weight: bold;
}

.card-footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-footer button {
	padding: 8px 16px;
	border: none;
	border-radius: 20px;
	background-color: #0049ad;
	color: white;
	transition: background-color 0.3s ease;
}

.card-footer button:hover {
	cursor: pointer;
	background-color: #1b59af;
}

.card-footer p {
	font-size: 12px;
}

.image img {
	width: 300px;
	border-radius: 20px;
}
